<div class="btn-toolbar pull-right">
  <a href="#news/update/<%= model.id %>" class="btn btn-default"> Edit Article</a>
  <a id="delete-btn" class="btn btn-default"> Delete Article</a>
</div>
<h3><%= model.get('title') %></h3>
<h4><%= model.get('itemdate') %></h4>
<p><%= model.get('text') %></p>
<p>Attached file: <a href="../attachments/<%= model.get('attachedfile') %>"><%= model.get('attachedfile') %></a>
