<div class="row">
    <div class="col-md-2"><b><a href="#users/read/<%= model.id %>"><%= model.get('username') %></a></b></div>
    <div class="col-md-2"><%= model.get('firstname') %></div>
    <div class="col-md-2"><%= model.get('lastname') %></div>
    <div class="col-md-2"><%= model.get('phone') %></div>
</div>
